---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

/* colors */
$primary-color: #0c7bb3 !default;
$success-color: #2a854e !default;
$warning-color: #ad5f00 !default;
$danger-color: #de1b1b !default;
$info-color: #0c7bb3 !default;
$focus-color: $primary-color !default;
$active-color: #066391 !default;

$gray: #707a8a !default;
$dark-gray: #434a54 !default;
$darker-gray: #333840 !default;
$light-gray: #ebeff5 !default;
$lighter-gray: #f5f7fa !default;

$link-color: #0c7bb3 !default;
$link-color-hover: #de1b1b !default;
$link-color-visited: #9656d6 !default;
$masthead-link-color: $darker-gray !default;
$masthead-link-color-hover: $dark-gray !default;
$navicon-link-color-hover: #229ad6 !default;

/* fonts */

@font-face {
    font-family: "San Francisco";
    font-weight: 500;
    src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff2'),
         url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff') format('woff'),
         url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Regular.woff2') format('woff2'),
         url('../fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans-Bold.woff2') format('woff2'),
         url('../fonts/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Regular.woff2') format('woff2'),
         url('../fonts/SourceSerifPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Bold.woff2') format('woff2'),
         url('../fonts/SourceSerifPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/sourcecodepro-bold-webfont.woff2') format('woff2'),
         url('../fonts/sourcecodepro-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('../fonts/sourcecodepro-regular-webfont.woff2') format('woff2'),
         url('../fonts/sourcecodepro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* box shadow */
$box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 2px 4px 0 rgba(0,0,0,0.2) !default;

// San Francisco all the things
// http://furbo.org/2015/07/09/i-left-my-system-fonts-in-san-francisco/
// https://gist.github.com/AndrewBarba/2c0f6612ceef30f5f55d
$badge-font : system, -apple-system, '.SFNSDisplay-Regular', 'San Francisco', 'Helvetica Neue', 'Lucida Grande', 'Arial', sans-serif;

/* system typefaces */
$serif: "Source Serif Pro", "Georgia", "Times", serif !default;
$sans-serif: "Fira Sans", "San Francisco", "Roboto", "Segoe UI", "Trebuchet MS", "Lucida Grande", "Arial", sans-serif !default;
$monospace: "Source Code Pro", "Monaco", "Consolas", "Lucida Console", monospace !default;

/* type scale
$type-size-1: 1.602em !default; // ~39.056px
$type-size-2: 1.424em !default; // ~31.248px
$type-size-3: 1.266em !default; // ~25.008px
$type-size-4: 1.125em !default; // ~20px
$type-size-5: 1em !default; // ~16px
$type-size-6: 0.889em !default; // ~12px
$type-size-7: 0.790em !default; // ~11px
$type-size-8: 0.702em !default; // ~10px
*/
/* headline scale 
$h-size-1: 1.802em !default;
$h-size-2: 1.602em !default;
$h-size-3: 1.424em !default;
$h-size-4: 1.266em !default;
$h-size-5: 1.125em !default;
$h-size-6: 1em !default;
*/
/* badge css */
.badge__storename {
    display: inline-block;
    font-family: $badge-font;
    margin: 0;
    letter-spacing: -.03em;
    padding-left: 0.3em;
}

@media (max-width: 37.5em){
    .archive__item-teaser.testimonial {
        float: left;
        padding-right: 2em;
    }
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
